.vscode/**
.vscode-test/**
.github/**
src/**
test/**
out/**
node_modules/**

*.vsix
*.log
*.tsbuildinfo

# Config files excluded by default by vsce, but good to be explicit
.gitignore
.eslintrc.json
.prettierrc.json
tsconfig.json
webpack.config.js